// Primary colors
$dark: #18191a;
$light-d: #3a3b3c;
$coffee-color: #6f4e37;
$dark-coffee-color: #7a4f3c;
$light-d1: #6c757d;
$light: whitesmoke;
$white: #ffff;
$grey-white: #ddd;

// Secondary colors
$black: #000000;
$red: #ff3d00;
$danger: #8d191d;
$orange: #efd7c5;
$purple: #50145c;
$brown: #a26d23;

// Font sizes
$font-size-small: 1.3rem;
$font-size-large: 1.9rem;
$font-size-xlarge: 2.8rem;

// Border radius
$border-radius-base: 0.4rem;
$border-radius-small: 0.8rem;
$border-radius-medium: 1rem;
$border-radius-large: 2rem;
